@charset "UTF-8";

/* カラー変数宣言 ============================================= */
$black: #000;
$gray: #696969;
$lightGray: #bbb;
$smoke: #dcdcdc;
$whiteSmoke: #f5f5f5;
$white: #fff;
$red: #ff0000;
$red2: #b22222;
$red3: #610b0b;
$green: #0b3b0b;
$blue: #0b0b61;

/* スペース (余白・間隔) ======================================== */
$space_10-15px: clamp(10px, 2vw, 15px); // 10-15px
$space_16-18px: clamp(1rem, 0.95rem + 0.2vw, 1.125rem); // 16-18px
$space_20-30px: clamp(1.25rem, 1rem + 0.98vw, 1.875rem); // 20-30px
$space_30-45px: calc($space_20-30px * 1.5); // 30-45px
$space_40-60px: calc($space_20-30px * 2); // 40-60px
$space_60_90px: calc($space_20-30px * 3); // 60-90px
$space_80_120px: calc($space_20-30px * 4); // 80-120px

/* フォントサイズ ============================================= */
$font_11-13px: calc($space_16-18px * 0.7); // 11.2-12.6px
$font_16-18px: clamp(1rem, 0.95rem + 0.2vw, 1.125rem); // 16-18px
$font_18-20px: calc($font_16-18px * 1.1); // 17.6-19.8px
$font_19-22px: calc($font_16-18px * 1.2); // 19.2-21.6px
$font_24-27px: calc($font_16-18px * 1.5); // 24-27px
$font_32-64px: clamp(2rem, 1.3rem + 3vw, 4rem); // 32-64px
$font_72-160px: clamp(4.5rem, 1.83rem + 11.34vw, 10rem); // 72-160px

// フォント共通
@mixin notoSerf {
  font-family: "Noto Serif JP", sans-serif;
}

/* 各ページ共通のレイアウト ======================================== */
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
  height: 100%;
}

body {
  height: 100%;
  @include notoSerf;
  color: $black;
  background-color: $whiteSmoke;
}

p {
  line-height: 1.7;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $black;
}

img {
  object-fit: cover;
}

// ページトップのコンテンツ (一番上の画像)
.page-top-content {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: {
    position: relative;
    position: center center;
    size: cover;
    repeat: no-repeat;
  }
  & .page-title {
    font-size: $font_32-64px;
    color: $white;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    writing-mode: vertical-rl;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.profile-bg {
  background: {
    image: url("../../dist/images/img2.jpeg");
  }
}

.gallery-bg {
  background: {
    image: url("../../dist/images/img15.jpeg");
  }
}

.news-bg {
  background: {
    image: url("../../dist/images/img21.jpeg");
  }
}

.price-bg {
  background: {
    image: url("../../dist/images/img14.jpeg");
  }
}

.contact-bg {
  background: {
    image: url("../../dist/images/img13.jpeg");
  }
}

.policy-bg {
  background: {
    image: url("../../dist/images/img11.jpeg");
  }
}

// .page-top-contentのフェードイン機能 【JSで制御】
.page-load {
  opacity: 0;
}

.page-loaded {
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-delay: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// TOPページ(index)以外の、.page-top-content以下に指定
.wrapper {
  margin: 0 auto;
  padding: $space_20-30px $space_30-45px;
}

// .wrapperの背景画像
.bg {
  background: {
    position: center center;
    repeat: no-repeat;
    size: cover;
  }
}

.img1 {
  background: {
    image: url("../../dist/images/bg1.jpeg");
  }
}

.img2 {
  background: {
    image: url("../../dist/images/bg2.jpeg");
  }
}

.img3 {
  background: {
    image: url("../../dist/images/bg3.jpeg");
  }
}

.img4 {
  background: {
    image: url("../../dist/images/bg4.jpeg");
  }
}

//「プロフィール」,「料金」,「お知らせ」の用紙仕様のレイアウトに指定
.content {
  max-width: 1000px;
  padding: $space_60_90px;
  background-color: $white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  margin: $space_80_120px auto;
  // お問合せページ・ポリシーページのタイトル
  & .content-title {
    text-align: center;
    margin-bottom: $space_60_90px;
    & h2 {
      font-size: $space_20-30px;
    }
    & p {
      font-size: $font_18-20px;
      margin-top: calc($space_10-15px * 0.8);
    }
  }
}

// ボタンの共通レイアウト
.btn-box {
  text-align: center;
  margin: $space_20-30px auto;
}

.btn {
  text-align: center;
  background-color: $white;
  color: $gray;
  display: inline-block;
  position: relative;
  border: 1px solid $gray;
  transition: all 0.4s ease-in-out;
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: solid $gray;
    transition: all 0.4s ease-in-out;
  }
  &::before {
    top: -6px;
    left: -6px;
    border-width: 1px 0 0 1px;
  }
  &::after {
    bottom: -6px;
    right: -6px;
    border-width: 0 1px 1px 0;
  }
  &:hover {
    color: $white;
    background-color: $red3;
    &:hover::before,
    &:hover::after {
      width: calc(100% + 11px);
      height: calc(100% + 11px);
      border-color: $red3;
    }
  }
}

/* スクロール時のフェード機能 【JSで制御】 =============================== */
// 下から
.scroll-fadeUp {
  display: block;
  opacity: 0;
  transform: translate(0, 80px);
  transition: all 1500ms;
}
.scroll-fadeUp.scrollIn {
  opacity: 1;
  transform: translate(0, 0);
}

// 上から
.scroll-fadeDown {
  display: block;
  opacity: 0;
  transform: translate(0, -80px);
  transition: all 1500ms;
}
.scroll-fadeDown.scrollIn {
  opacity: 1;
  transform: translate(0, 0);
}

// 左から
.scroll-fadeLeft {
  display: block;
  opacity: 0;
  transform: translate(-80px, 0);
  transition: all 1500ms;
}
.scroll-fadeLeft.scrollIn {
  opacity: 1;
  transform: translate(0, 0);
}

// 右から
.scroll-fadeRight {
  display: block;
  opacity: 0;
  transform: translate(80px, 0);
  transition: all 1500ms;
}
.scroll-fadeRight.scrollIn {
  opacity: 1;
  transform: translate(0, 0);
}

/* HEADER ============================================== */
header {
  background-color: $black;
  padding: $space_10-15px;
  & * {
    display: flex;
    align-items: center;
  }
  & .header-contents {
    justify-content: space-between;
    & .header-title {
      margin: 0 $space_16-18px;
      color: $white;
      font: {
        size: $font_19-22px;
        weight: 900;
      }
    }

    & .header-nav-contents {
      & .header-nav {
        & li {
          & a {
            display: block;
            font-size: $font_11-13px;
            padding: $space_10-15px;
            color: $white;
            transition: 400ms;
            & span {
              display: block;
              text-align: center;
              margin-top: 0.25rem;
              color: $gray;
            }
            &:hover {
              background-color: $red3;
              color: $white;
              transition: 400ms;
            }
          }
        }
      }
      & .header-link {
        margin: 0 $space_16-18px;
        & li {
          & a {
            display: block;
            border-radius: 10%;
            width: 3rem;
            height: 3rem;
            margin: 0.5rem;
            color: $white;
            position: relative;
            transition: 400ms;
            & .fab {
              position: absolute;
              top: 0.5rem;
              left: 0.6rem;
              font-size: 2rem;
            }
            &:hover {
              background-color: $red3;
              color: $white;
              transition: 400ms;
            }
          }
        }
      }
    }
  }
  @media (min-width: 415px) {
    #menu__toggle,
    .menu__btn {
      opacity: 0;
    }
  }
}

// HEADER CLONE 【JSで制御】
.header-clone {
  background-color: $black;
  padding: 0.5rem;
  position: fixed;
  top: -130px;
  width: 100%;
  z-index: 30;
  transition: top 0.25s;
  opacity: 0.9;
  & * {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & > .header-contents {
    & .header-title {
      margin: 0 $space_16-18px;
      color: $white;
      font: {
        size: $font_19-22px;
        weight: 900;
      }
    }
    & .header-nav-contents {
      & .header-nav {
        & li {
          & a {
            display: block;
            font-size: $font_11-13px;
            padding: $space_10-15px;
            color: $white;
            transition: 400ms;
            & span {
              display: none;
            }
            &:hover {
              background-color: $red3;
              color: $white;
              transition: 400ms;
            }
          }
        }
      }
      & .header-link {
        margin: 0 $space_16-18px;
        & li {
          & a {
            border-radius: 10%;
            width: 3rem;
            height: 3rem;
            margin: 0.5rem;
            transition: 400ms;
            position: relative;
            & .fab {
              color: $white;
              position: absolute;
              top: 0.6rem;
              left: 0.8rem;
              font-size: 1.5rem;
            }
            &:hover {
              background-color: $red3;
              color: $white;
              transition: 400ms;
            }
          }
        }
      }
    }
  }
  // cloneの表示
  &.visible {
    top: 0;
  }
  @media (min-width: 415px) {
    #menu__toggle,
    .menu__btn {
      opacity: 0;
    }
  }
}

/* TOPページ 【index】======================================= */
// トップページ読み込み時のアニメーション 【JSで制御】
// .line {
//   width: 0%;
//   height: 2px;
//   background-color: $black;
//   position: fixed;
//   top: 50%;
//   z-index: 20;
// }
// .top {
//   background-color: $white;
//   height: 50%;
//   width: 100%;
//   position: fixed;
//   z-index: 10;
//   top: 0;
// }
// .bottom {
//   background-color: $white;
//   height: 50%;
//   width: 100%;
//   position: fixed;
//   z-index: 10;
//   bottom: 0;
// }
// .bar {
//   display: none;
// }

// トップスライダー
.index-top-slider {
  & li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    animation: anime 50s infinite;
  }
  & li:nth-child(1) {
    background-image: url("../../dist/images/img12.jpeg");
    animation-delay: 0s;
  }
  & li:nth-child(2) {
    background-image: url("../../dist/images/img13.jpeg");
    animation-delay: 10s;
  }
  & li:nth-child(3) {
    background-image: url("../../dist/images/img14.jpeg");
    animation-delay: 20s;
  }
  & li:nth-child(4) {
    background-image: url("../../dist/images/img15.jpeg");
    animation-delay: 30s;
  }
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

// ページロード時のアニメーション(.index-top-textに指定) 【JSで制御】
// 上からのアニメーション
.load-down {
  opacity: 0;
  transform: translate(0, -50px);
  transition-timing-function: ease-in-out;
}

.load-downed {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 800ms;
  transition-delay: 200ms;
  transition-timing-function: ease-in-out;
}

// 下からのアニメーション
.load-up {
  opacity: 0;
  transform: translate(0, 50px);
  transition-timing-function: ease-in-out;
}

.load-uped {
  transform: translate(0, 0px);
  transform: translate(0 0);
  opacity: 1;
  transition: all 800ms;
  transition-delay: 200ms;
  transition-timing-function: ease-in-out;
}

// トップスライダーのテキスト
.index-top-text {
  background: rgba(255, 255, 255, 0);
  display: inline-block;
  width: 30vw;
  height: 70vh;
  text-align: center;
  padding: $space_16-18px $space_40-60px $space_40-60px;
  position: absolute;
  top: $space_40-60px;
  right: $space_40-60px;
  & h1 {
    font: {
      size: calc($font_32-64px * 0.8);
    }
  }
  & .sub-title {
    font: {
      size: $font_18-20px;
      weight: 900;
    }
    margin-bottom: $space_16-18px;
  }
}

// ページロード後に背景色が変わるアニメーション 【JSで制御】
.index-top-text-bg {
  animation-name: bgChange;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes bgChange {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

// スクロールダウンのボタン 【JSで制御】
.index-top-btn {
  display: inline-block;
  text-align: center;
  margin-top: calc($space_30-45px * 0.8);
  padding: $space_20-30px $space_80_120px;
  border: 2px solid $gray;
  border-radius: 10px;
  z-index: 2;
  animation: bounce 2s infinite 2s;
  transition: all 0.2s ease-in;
  transform: scale(1);

  // 矢印のレイアウト
  &::before {
    position: absolute;
    top: calc(50% - 18px);
    left: calc(50% - 14px);
    transform: rotate(-45deg);
    display: block;
    width: 20px;
    height: 20px;
    content: "";
    border: 2px solid $gray;
    border-width: 0 0 2px 2px;
  }
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

// TOPページ(index)の各コンテンツに指定
.section {
  position: relative;
  padding: $space_60_90px 0 $space_30-45px;
}

// 各sectionの背景画像
.section-bg {
  margin: calc($space_40-60px * 1.5) 0;
  & img {
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
}

// TOPページの「section title」のレイアウト
.section-title {
  text-align: center;
  display: inline-block;
  padding: calc($space_20-30px * 2.5) $space_40-60px;
  color: $white;
  & h2 {
    font-size: $font_24-27px;
    margin: $space_16-18px 0 0.7rem;
  }
  & span {
    font-size: $font_16-18px;
  }
}

.index-profile-title {
  position: absolute;
  top: -14rem;
  left: 6rem;
  background-color: $green;
}

.index-gallery-title {
  position: absolute;
  top: -12rem;
  right: 8rem;
  background-color: $red3;
}

.index-job-title {
  position: absolute;
  top: -12rem;
  left: 8rem;
  background-color: $blue;
}

// TOPページのボタン
.index-btn {
  font-size: $font_19-22px;
  padding: calc($space_16-18px * 1.5) $space_20-30px;
}

/* TOPページ NEWS  ======================================== */
.index-news-content {
  margin: $space_40-60px;
  & h2 {
    font-size: calc($font_24-27px * 1.5);
    margin-bottom: $space_20-30px;
  }
  & .index-news-articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: $space_20-30px;
    margin-bottom: $space_60_90px;
    & .index-news-item {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: $space_16-18px;
      border: 1px solid $lightGray;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.4);
      transition: background-color 0.5s;
      & img {
        width: 50%;
        transition: transform 0.5s;
      }
      & .index-news-text {
        margin-left: $space_16-18px;
        & h3 {
          font-size: $font_18-20px;
          margin-bottom: $space_10-15px;
        }
        & p {
          font-size: calc($font_11-13px * 1.2);
          margin-bottom: calc($space_10-15px * 0.5);
        }
      }
      &:hover {
        background-color: $smoke;
        & img {
          transform: scale(1.1);
        }
      }
    }
  }
}

/* TOPページ Profile, Profile ============================= */
.profile-content {
  margin-bottom: $space_60_90px;
  padding: $space_40-60px $space_20-30px;
  background: linear-gradient(to right, #fffcdc, #d9a7c7);
  & > * {
    display: flex;
    justify-content: space-around;
  }
  & img {
    width: 35vw;
  }
  & p {
    margin-bottom: $space_16-18px;
    font-size: $font_16-18px;
  }
  & .profile {
    flex-direction: row-reverse;
    margin-top: $space_20-30px;
    & .profile-text {
      padding: $space_60_90px $space_30-45px $space_30-45px;
      width: 35vw;
      background-color: rgba(255, 255, 255, 0.4);
      & span {
        font-size: $font_19-22px;
      }
      & h2 {
        font-size: calc($font_32-64px * 0.6);
        margin: calc($space_10-15px * 0.5) 0 $space_30-45px;
      }
    }
  }
  & .message {
    margin-top: $space_60_90px;
    .message-text {
      background-color: rgba(255, 255, 255, 0.4);
      padding: $space_30-45px;
      width: 35vw;
      & .message-title {
        font-size: $font_24-27px;
        margin-bottom: $space_16-18px;
      }
    }
  }
}

.achievements {
  position: relative;
  margin: $space_60_90px auto;
  & .achievements-title {
    background-color: $blue;
    position: absolute;
    top: -18rem;
  }
  & .achievements-content {
    margin-left: $space_40-60px;
    padding: $space_20-30px 0 $space_30-45px;
    & h3 {
      font-size: $font_19-22px;
      margin-bottom: $space_16-18px;
    }
    & li {
      line-height: 2;
    }
  }
}

/* TOPページ GALLERY ====================================== */
.index-gallery-content {
  display: grid;
  width: 80vw;
  gap: 2.5vw;
  grid-template-columns: repeat(3, 26vw);
  grid-template-rows: repeat(3, 26vw);
  margin: $space_80_120px auto;
  & .index-gallery-item {
    margin: auto;
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    transition-timing-function: ease-in-out;
    & img {
      display: block;
      width: 100%;
      height: 100%;
    }
    & .index-gallery-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity 0.3s;
      opacity: 0;
      & * {
        display: block;
        text-align: center;
        font-size: $font_18-20px;
        margin: $space_10-15px;
        opacity: 0;
      }
    }
    &:hover {
      cursor: pointer;
      transform: scale(1.1, 1.1);
      z-index: 10;
      & .index-gallery-text {
        background-color: $white;
        border-radius: 50%;
        transition: 0.7s;
        opacity: 0.8;
        & .index-gallery-text1 {
          animation: style-top 0.5s;
          animation-delay: 0.5s;
          animation-fill-mode: forwards;
          animation-timing-function: ease-in-out;
        }
        & .index-gallery-text2 {
          animation: style-top 0.5s;
          animation-delay: 0.5s;
          animation-fill-mode: forwards;
          animation-timing-function: ease-in-out;
        }
        & .index-gallery-text3 {
          animation: style-bottom 0.5s;
          animation-delay: 0.5s;
          animation-fill-mode: forwards;
          animation-timing-function: ease-in-out;
        }
      }
    }
  }
}

// 上から表示するアニメーション
@keyframes style-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

// 下から表示するアニメーション
@keyframes style-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* TOPページ PRICE ======================================== */
.index-job-content {
  width: 70%;
  display: flex;
  margin: $space_60_90px auto;
  & .index-job-item {
    display: flex;
    flex-flow: column;
    overflow: hidden;
    line-height: 0;
    & img {
      width: 100%;
      height: 305px;
    }
    & .index-job-text {
      background-color: $black;
      color: $white;
      padding: $space_30-45px $space_10-15px;
      text-align: left;
      height: 220px;
      & .text1 {
        text-align: center;
        font-size: $font_18-20px;
      }
      & .text2 {
        margin: $space_16-18px $space_10-15px 0;
        font-size: calc($font_16-18px * 0.9);
        line-height: 1.8;
      }
    }
    & .number1 {
      order: 1;
    }
    & .number2 {
      order: 2;
    }
    & .number3 {
      order: 4;
    }
    & .number4 {
      order: 3;
    }
    & .number5 {
      order: 5;
    }
    & .number6 {
      order: 6;
    }
  }
}

.index-price-content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: $space_40-60px 0;
  & .index-price-item {
    text-align: center;
    width: 30%;
    background-color: $white;
    border: 1px solid $lightGray;
    padding: $space_30-45px $space_16-18px;
    margin: 0 $space_16-18px;
    & img {
      height: 30vh;
      width: 23vw;
    }
    & h3 {
      font-size: $font_19-22px;
      margin: $space_10-15px auto calc($space_16-18px * 1.2);
    }
    & p {
      font-size: $font_16-18px;
    }
  }
}

/* GALLERY ============================================= */
.gallery-content {
  margin: $space_60_90px auto;
  & p {
    text-align: center;
    font-size: $font_18-20px;
    margin-bottom: $space_30-45px;
    line-height: 2;
  }
  & .gallery {
    width: 80vw;
    display: grid;
    gap: 2vw;
    grid-template-columns: repeat(3, 25vw);
    grid-template-rows: repeat(6, 25vw);
    margin: 0 auto;
  }
  & .gallery-item {
    transition: 0.4s;
    transition-timing-function: ease-in-out;
    & img {
      width: 100%;
      height: auto;
    }
    & .caption {
      display: none;
    }
    & .is-loading {
      opacity: 0;
    }
    &:hover {
      transform: scale(1.1, 1.1);
      z-index: 10;
    }
  }
}

#cboxTitle {
  font-size: $font_16-18px;
  padding: $space_16-18px;
  background-color: $red3;
}

/* NEWS ================================================ */
.news-item {
  background-color: $white;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  padding: $space_20-30px;
  margin: $space_40-60px auto;
  border: 1px solid $lightGray;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.4);
  transition: background-color 0.5s;
  & img {
    transition: transform 0.5s;
  }
  & .news-text {
    width: 100%;
    margin-left: $space_20-30px;
    & h2 {
      font-size: $font_19-22px;
      margin-bottom: $space_16-18px;
    }
    & .news-time {
      font-size: $font_16-18px;
      color: $gray;
      margin-bottom: $space_16-18px;
    }
    & .news-desc {
      font-size: $font_16-18px;
    }
  }
  &:hover {
    background-color: $smoke;
    & img {
      transform: scale(1.1);
    }
  }
}

/* PRICE =============================================== */
.price-content {
  max-width: 1000px;
  padding: $space_60_90px;
  background-color: $white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  margin: $space_80_120px auto;
  .price-title {
    margin-bottom: $space_40-60px;
    & h3 {
      text-align: center;
      font-size: $font_19-22px;
      margin-bottom: $space_16-18px;
    }
  }
  & .price-design-title {
    font-size: $font_18-20px;
    font-weight: bold;
    margin-bottom: $space_16-18px;
  }
  & .price-design {
    border: 1px solid $lightGray;
    background-color: $whiteSmoke;
    box-sizing: border-box;
    display: flex;
    padding: $space_20-30px;
    margin-bottom: $space_40-60px;
    & img {
      width: 35vw;
      height: auto;
    }
    & .price-design-box {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-left: $space_40-60px;
      & ul {
        width: 70%;
        margin-bottom: $space_20-30px;
        & li {
          font-size: $font_18-20px;
          background-color: $gray;
          color: $white;
          margin: calc($space_16-18px * 0.5) 0;
          padding: calc($space_16-18px * 0.8) $space_16-18px;
          border-radius: 30px;
        }
      }
    }
  }
  & .price-table {
    font-size: $font_16-18px;
    margin-bottom: $space_20-30px;
    border-collapse: collapse;
    border: 1px solid $lightGray;
    & th {
      background-color: $whiteSmoke;
    }
    & th,
    td {
      width: 35vw;
      text-align: center;
      padding: $space_16-18px $space_20-30px;
      border: 1px solid $lightGray;
    }
    & td:first-child {
      text-align: left;
      background-color: $whiteSmoke;
    }
  }
  & .price-table2 {
    @extend .price-table;
    & td:first-child {
      width: 50%;
    }
  }
  & .price-desc {
    text-indent: -1rem;
    padding-left: $space_16-18px;
    margin-bottom: calc($space_16-18px * 0.5);
  }
  & .timeline {
    margin-bottom: $space_60_90px;
    & li {
      display: flex;
      align-items: center;
    }
    & h3 {
      width: 25%;
      font-size: $font_19-22px;
      padding-right: $space_60_90px;
      text-align: right;
    }
    & p {
      width: 75%;
      padding: $space_30-45px 0 $space_30-45px $space_40-60px;
      border-left: 5px solid $lightGray;
      position: relative;
      &::before {
        display: block;
        background-color: $whiteSmoke;
        color: $black;
        text-align: center;
        padding: 0.5rem 0.5rem 0;
        border-radius: 10px;
        position: absolute;
        top: 3rem;
        left: -2.5rem;
        width: 3.5rem;
        height: 3.5rem;
        content: "";
        /* Font Awesome */
        font: {
          family: "Font Awesome 5 Free";
          size: $font_24-27px;
          weight: 900;
        }
      }
    }
    & .icon-file::before {
      content: "\f044";
    }
    & .icon-meeting::before {
      content: "\f086";
    }
    & .icon-payment::before {
      content: "\f157";
    }
    & .icon-production::before {
      content: "\f1fc";
    }
    & .icon-complete {
      padding-bottom: $space_60_90px;
      &::before {
        content: "\f4df";
      }
    }
  }
  & .price-btn {
    padding: $space_16-18px $space_20-30px;
  }
}

/* CONTACT ============================================= */
.content {
  .contact-desc * {
    font-size: $font_16-18px;
    margin-bottom: $space_16-18px;
  }
  & .policy-btn {
    font-size: $font_11-13px;
    padding: $space_10-15px $space_16-18px;
    margin-bottom: $space_30-45px;
  }
  & .contact-table {
    border-spacing: 0;
    border: 1px solid $lightGray;
    margin-bottom: $space_40-60px;
    padding: $space_20-30px;
    & th,
    td {
      display: table-cell;
      padding: $space_16-18px;
    }
    & th {
      width: 25%;
      & .must {
        color: $red;
      }
    }
    & td {
      width: 75%;
    }
  }
  & input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    border: 1px solid $lightGray;
    background-color: $white;
    padding: $space_10-15px;
  }
  & input[type="text"]::placeholder,
  input[type="email"]::placeholder,
  input[type="tel"]::placeholder,
  textarea::placeholder {
    color: $lightGray;
  }
  & textarea {
    height: 10rem;
  }
  & #postcode1,
  #postcode2 {
    width: 30%;
    margin: 0 $space_10-15px;
  }
  & .prefecture {
    width: 50%;
    text-align: center;
    padding: $space_10-15px;
    cursor: pointer;
  }
  // チェックボックスの非表示
  & input[type="checkbox"] {
    display: none;
    // チェックボックスを変更
    & + span::before {
      display: inline-block;
      content: "";
      width: 2rem;
      height: 2rem;
      border: 1px solid $lightGray;
      background-color: $white;
      vertical-align: middle;
      margin: -0.25rem 0.5rem 0 1.85rem;
      padding: 0 0 0.25rem 0.5rem;
      line-height: 1.5;
      font: {
        family: "Font Awesome 5 Free";
        size: 1.5rem;
        weight: 900;
      }
    }
  }
  & input[type="checkbox"]:checked + span::before {
    content: "\f00c";
  }
  & .btn-box {
    & .form-btn {
      font-size: $font_18-20px;
      padding: $space_16-18px $space_20-30px;
      margin: 0 $space_20-30px;
      cursor: pointer;
    }
  }
}

/* POLICY ============================================== */
.policy-text {
  & h3 {
    font: {
      size: $font_18-20px;
    }
  }
  & p {
    margin: $space_10-15px 0 $space_40-60px;
  }
}

/* FOOTER ============================================== */
footer {
  color: $white;
  text-align: center;
  background-color: $black;
  padding-bottom: $space_30-45px;
  & a {
    font-size: calc($font_16-18px * 0.9);
    color: $white;
    display: block;
    padding: $space_20-30px;
    transition: 400ms;
    &:hover {
      color: $white;
      background-color: $green;
    }
  }
  & .wrapper {
    margin: 0 $space_60_90px;
    & .footer-nav {
      display: flex;
      justify-content: center;
      padding-bottom: $space_30-45px;
      border-bottom: 1px solid $white;
      & a {
        padding: $space_16-18px $space_20-30px;
        & span {
          display: block;
          margin-top: calc($space_10-15px * 0.4);
          color: $gray;
        }
      }
    }
    & .footer-link {
      display: flex;
      justify-content: center;
      padding: $space_30-45px;
      & li {
        & a {
          color: $white;
          border-radius: 10%;
          width: 3rem;
          height: 3rem;
          padding: $space_10-15px;
          position: relative;
          & .fab {
            position: absolute;
            top: 1.5rem;
            left: 1.5rem;
            font-size: 2rem;
          }
        }
      }
    }
  }
  & p {
    margin-top: $space_10-15px;
  }
}

// ページトップに戻るボタン
.back-to-top {
  position: fixed;
  right: $space_16-18px;
  bottom: $space_16-18px;
  & a {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    &::before {
      font: {
        family: "Font Awesome 5 Free";
        weight: 900;
        size: 3rem;
      }
      content: "\f102";
      color: $red2;
      position: absolute;
      width: 30px;
      height: 30px;
      top: -50px;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      text-align: center;
    }
    &::after {
      content: "PAGE TOP";
      font-size: $font_11-13px;
      text-align: center;
      color: $red2;
      margin: auto;
      position: absolute;
      top: 55px;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
}

/* モバイル版 =============================================== */
@media (max-width: 414px) {
  /* HEADER=============================================== */
  @mixin burgerSpan {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: $white;
  }

  header {
    width: 100%;
    position: relative;
    z-index: 1;
    & #menu__toggle {
      opacity: 0;
      &:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      &:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
        background: $red2;
      }
      &:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
        background: $red2;
      }
      &:checked ~ .header-nav-contents {
        visibility: visible;
        left: 0;
        margin: 0;
      }
    }
    & .menu__btn {
      transition-duration: 0.25s;
      position: relative;
      bottom: 2px;
      width: 2rem;
      height: 2rem;
      z-index: 2;
      cursor: pointer;
      & span {
        @include burgerSpan;
        &::before {
          @include burgerSpan;
          content: "";
          top: -8px;
          transition-duration: 0.25s;
        }
        &::after {
          @include burgerSpan;
          content: "";
          top: 8px;
          transition-duration: 0.25s;
        }
      }
    }
    & .header-nav-contents {
      flex-direction: column;
      position: absolute;
      top: 3rem;
      left: 0;
      visibility: hidden;
      z-index: 1;
      width: 100%;
      height: 100%;
      margin: -400px 0 0 0;
      text-align: center;
      box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
      transition-duration: 0.5s;
      & * {
        background-color: $black;
      }
      & .header-nav {
        width: 100%;
        display: block;
        & li {
          font-size: $font_16-18px;
          transition-duration: 0.5s;
          & a {
            width: 100%;
          }
        }
      }
      & .header-link {
        width: 100%;
        justify-content: center;
      }
    }
  }
  .header-clone {
    display: none;
  }
} // モバイル版 終わり

/* =============================================================
===========================タブレット版 ============================
  =============================================================== */

// @media screen and (max-width: 960px) {
//   * {
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box;
//   }
//   .page-header-clone,
//   .scroll-down-btn,
//   .footer-nav,
//   .grid {
//     display: none;
//   }
//   /* HEADER ====================================*/
//   .page-header {
//     z-index: 100;
//     & .inner {
//       display: block;
//       & .header-title {
//         padding: 1rem;
//       }
//       & .open-btn {
//         display: inline-block !important;
//         position: absolute;
//         top: 13px;
//         right: 10px;
//         background-color: $black;
//         cursor: pointer;
//         width: 50px;
//         height: 50px;
//         border-radius: 5px;
//         & span {
//           display: inline-block;
//           transition: all 0.5s;
//           position: absolute;
//           left: 15px;
//           height: 5px;
//           border-radius: 2px;
//           background-color: $white;
//           width: 45%;
//           &:nth-of-type(1) {
//             top: 15px;
//           }
//           &:nth-of-type(2) {
//             top: 23px;
//           }
//           &:nth-of-type(3) {
//             top: 31px;
//           }
//         }
//         &.active span:nth-of-type(1) {
//           top: 18px;
//           left: 18px;
//           transform: translateY(6px) rotate(-45deg);
//           width: 30%;
//         }
//         &.active span:nth-of-type(2) {
//           opacity: 0;
//         }
//         &.active span:nth-of-type(3) {
//           top: 30px;
//           left: 18px;
//           transform: translateY(-6px) rotate(45deg);
//           width: 30%;
//         }
//       }
//       & .page-header-content {
//         display: block;
//         background-color: $black;
//         width: 0;
//         z-index: 20;
//         position: absolute;
//         top: 75.59px;
//         right: 0;
//         overflow: hidden;
//         transition: 0.5s;
//         &.open-menu {
//           width: 100%;
//         }
//         & .header-nav {
//           display: block;
//           padding: 0;
//           margin: 0;
//         }
//         & .header-link {
//           margin: 1rem 0;
//           padding: 0;
//           display: flex;
//           justify-content: center;
//         }
//       }
//     }
//     &.sticky {
//       position: fixed;
//       top: 0;
//       width: 100%;
//       opacity: 0.8;
//     }
//   }
// }
