@charset "UTF-8";

// カラー変数宣言
$black: #000;
$gray: #696969;
$lightGray: #bbb;
$smorke: #dcdcdc;
$whiteSmoke: #f5f5f5;
$white: #fff;
$red: #ff0000;
$red2: #b22222;

// スペース (余白・間隔)
$space_10-15px: clamp(10px, 2vw, 15px); // 10-15px
$space_16-18px: clamp(1rem, 0.95rem + 0.2vw, 1.125rem); // 16-18px
$space_20-30px: clamp(1.25rem, 1rem + 0.98vw, 1.875rem); // 20-30px
$space_30-45px: calc($space_20-30px * 1.5); // 30-45px
$space_40-60px: calc($space_20-30px * 2); // 40-60px
$space_60_90px: calc($space_20-30px * 3); // 60-90px
$space_80_120px: calc($space_20-30px * 4); // 80-120px

// フォントサイズ
$font_11-13px: calc($space_16-18px * 0.7); // 11.2-12.6px
$font_16-18px: clamp(1rem, 0.95rem + 0.2vw, 1.125rem); // 16-18px
$font_18-20px: calc($font_16-18px * 1.1); // 17.6-19.8px
$font_19-22px: calc($font_16-18px * 1.2); // 19.2-21.6px
$font_24-27px: calc($font_16-18px * 1.5); // 24-27px
$font_32-64px: clamp(2rem, 1.3rem + 3vw, 4rem); // 32-64px
$font_72-160px: clamp(4.5rem, 1.83rem + 11.34vw, 10rem); // 72-160px

// フォント共通
@mixin notoSerf {
  font-family: "Noto Serif JP", sans-serif;
}

/* 各ページ共通のレイアウト */
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
  height: 100%;
}

body {
  height: 100%;
  @include notoSerf;
  color: $black;
  background-color: $whiteSmoke;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* トップコンテンツ (一番上の画像) */
.top-content {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: {
    position: relative;
    position: center center;
    size: cover;
    repeat: no-repeat;
  }
}

.top-content-profile {
  background: {
    image: url("../../dist/images/img2.jpeg");
  }
}

.top-content-gallery {
  background: {
    image: url("../../dist/images/img15.jpeg");
  }
}

.top-content-news {
  background: {
    image: url("../../dist/images/img21.jpeg");
  }
}

.top-content-price {
  background: {
    image: url("../../dist/images/img14.jpeg");
  }
}

.top-content-contact {
  background: {
    image: url("../../dist/images/img13.jpeg");
  }
}

.top-content-policy {
  background: {
    image: url("../../dist/images/img11.jpeg");
  }
}

/* ページロード後にフェードイン機能追加 JSで制御 */
.page-load {
  opacity: 0;
}

.page-loaded {
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-delay: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper {
  margin: 0 auto;
  padding: $space_20-30px $space_30-45px;
}

/* .wrapperの背景画像 */
.bg {
  background: {
    position: center center;
    repeat: no-repeat;
    size: cover;
  }
}

.img1 {
  background: {
    image: url("../../dist/images/bg1.jpeg");
  }
}

.img2 {
  background: {
    image: url("../../dist/images/bg2.jpeg");
  }
}

.img3 {
  background: {
    image: url("../../dist/images/bg3.jpeg");
  }
}

.img4 {
  background: {
    image: url("../../dist/images/bg4.jpeg");
  }
}

p {
  line-height: 1.7;
}

.btn {
  width: auto;
  display: inline-block;
  font-size: $font_24-27px;
  padding: $space_16-18px $space_40-60px;
  text: {
    decoration: none;
  }
}

.content {
  max-width: 1000px;
  padding: $space_60_90px;
  background-color: $white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  margin: $space_80_120px auto;
}

.section {
  position: relative;
  padding: $space_60_90px 0 $space_30-45px;
}

.content-title {
  font-size: $space_20-30px;
  margin-bottom: $space_60_90px;
  text-align: center;
  p {
    margin-top: $space_10-15px;
  }
}

/////////////////////////////////////////////////
/// //////////////////////////////////////////////
/// ///////////////////////////////////////////////
/// ///////////////////////////////////////////////
/// ////////////////////////////////////////////////
/// /////////////////////////////////////////////////
/// //////////////////////////////////////////////

.top-page-title {
  text-align: center;
  display: inline-block;
  padding: 4.5rem 2.5rem;
  color: $white;
  & h2 {
    font-size: 2rem;
    margin: 1rem 0 0.5rem;
  }
}

/* トップ 各コンテンツの前の画像 */
.top-bg {
  margin: 4rem 0;
  & img {
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
}

/* トップタイトル h2 */
.profile-title-box {
  position: absolute;
  top: -14rem;
  left: 6rem;
  background-color: #0b3b0b;
}
.gallery-title-box {
  position: absolute;
  top: -12rem;
  right: 8rem;
  background-color: #610b0b;
}
.job-title-box {
  position: absolute;
  top: -12rem;
  left: 8rem;
  background-color: #0b0b61;
}

/* スクロール時のフェード機能 JSで制御 ===================*/
/* 下から */
.scroll-fadeup {
  display: block;
  opacity: 0;
  transform: translate(0, 80px);
  transition: all 1500ms;
}
.scroll-fadeup.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}

/* 上から */
.scroll-fadedown {
  display: block;
  opacity: 0;
  transform: translate(0, -80px);
  transition: all 1500ms;
}
.scroll-fadedown.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}

/* 左から */
.scroll-fadeleft {
  display: block;
  opacity: 0;
  transform: translate(-80px, 0);
  transition: all 1500ms;
}
.scroll-fadeleft.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}

/* 右から */
.scroll-faderight {
  display: block;
  opacity: 0;
  transform: translate(80px, 0);
  transition: all 1500ms;
}
.scroll-faderight.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}

/* 上からのアニメーション */
.load-down {
  opacity: 0;
  transform: translate(0, -50px);
  transition-timing-function: ease-in-out;
}

.load-downed {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 800ms;
  transition-delay: 200ms;
  transition-timing-function: ease-in-out;
}

/* 下からのアニメーション */
.load-up {
  opacity: 0;
  transform: translate(0, 50px);
  transition-timing-function: ease-in-out;
}
.load-uped {
  transform: translate(0, 0px);
  transform: translate(0 0);
  opacity: 1;
  transition: all 800ms;
  transition-delay: 200ms;
  transition-timing-function: ease-in-out;
}

/* HEADER ================================= */
// メニュ- 共通

header {
  background-color: $black;
  padding: $space_10-15px;
  & * {
    display: flex;
    align-items: center;
  }
  & .header-contents {
    justify-content: space-between;
    & .header-title {
      margin: 0 $space_16-18px;
      color: $white;
      font: {
        size: $font_19-22px;
        weight: 900;
      }
    }
    & .header-nav-contents {
      justify-content: space-between;
      flex-direction: row;
    }
    & .header-nav {
      & li {
        & a {
          display: block;
          font-size: $font_11-13px;
          padding: $space_10-15px;
          color: $white;
          & span {
            display: block;
            text-align: center;
            margin-top: 0.25rem;
            color: $gray;
          }
        }
      }
    }

    /* ヘッダーリンク */
    & .header-link {
      margin: 0 $space_16-18px;
      & li {
        list-style-type: none;
        & a {
          display: block;
          border-radius: 10%;
          width: 3rem;
          height: 3rem;
          margin: 0.5rem;
          color: $white;
          position: relative;
          & .fab {
            position: absolute;
            top: 0.5rem;
            left: 0.6rem;
            font-size: 2rem;
          }
        }
      }
    }
  }
}

/* Sticky header(clone) */
.page-header-clone {
  text-align: center;
  background-color: $black;
  padding: 0.7rem;
  position: fixed;
  top: -130px;
  width: 100%;
  z-index: 30;
  transition: top 0.25s;
  opacity: 0.9;
  & > .inner {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    & .header-title {
      color: $white;
      font-size: 1.5rem;
      margin: 0;
      padding-left: 1rem;
    }
  }
  & .header-nav {
    position: absolute;
    left: 21rem;
    top: 1.5rem;
    display: flex;
    & li {
      list-style-type: none;
      & a {
        text-decoration: none;
        padding: 1rem 2rem;
        font-size: 0.8rem;
        color: $white;
        & span {
          display: none;
        }
      }
    }
  }
  /* JSで制御 */
  &.visible {
    top: 0;
  }
  & .header-link {
    display: flex;
    position: absolute;
    right: 3rem;
    top: 1.2rem;
    margin: 0;
    & li {
      list-style-type: none;
      & a {
        padding: 1rem 1.5rem;
        & .fab {
          color: $white;
          top: 1rem;
          font-size: 1.5rem;
        }
      }
    }
  }
}

/* TOP ====================================== */

/* トップページ読み込み時のアニメーション JSで制御 */
.line {
  width: 0%;
  height: 2px;
  background-color: $black;
  position: fixed;
  top: 50%;
  z-index: 20;
}
.top {
  background-color: $white;
  height: 50%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
}
.bottom {
  background-color: $white;
  height: 50%;
  width: 100%;
  position: fixed;
  z-index: 10;
  bottom: 0;
}
.bar {
  display: none;
}

/* トップ スライダー */
.top-content-slider {
  & li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    animation: anime 50s infinite;
  }
  & li:nth-child(1) {
    background-image: url("../../dist/images/img12.jpeg");
    animation-delay: 0s;
  }
  & li:nth-child(2) {
    background-image: url("../../dist/images/img13.jpeg");
    animation-delay: 10s;
  }
  & li:nth-child(3) {
    background-image: url("../../dist/images/img14.jpeg");
    animation-delay: 20s;
  }
  & li:nth-child(4) {
    background-image: url("../../dist/images/img15.jpeg");
    animation-delay: 30s;
  }
}
@keyframes anime {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* トップスライダーのテキスト */
.top-text {
  background: rgba(255, 255, 255, 0);
  display: inline-block;
  width: 30%;
  height: 70vh;
  text-align: center;
  padding: 1rem 4rem 4rem;
  margin: 2.5rem auto;
  position: absolute;
  right: 3rem;
}
.top-text-animation {
  animation-name: bgchange;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes bgchange {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
.top-title {
  font: {
    size: 3.5rem;
    weight: 900;
  }
}
.top-sub-title {
  font: {
    size: 1.2rem;
    weight: 900;
  }
  margin-bottom: 1rem;
}

/* タイトル */
.title {
  color: $white;
  font-size: 3rem;
  margin: 0 auto;
  text-align: center;
  writing-mode: vertical-rl;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* スクロールダウンのボタン JSで制御 */
.scroll-down-btn {
  position: absolute;
  bottom: 50px;
  left: 25%;
  //display: block;
  padding: 2rem 8rem;
  border: 2px solid $gray;
  border-radius: 10px;
  z-index: 2;
  animation: bounce 2s infinite 2s;
  transition: all 0.2s ease-in;
  transform: scale(1);
  &::before {
    position: absolute;
    top: calc(50% - 18px);
    left: calc(50% - 14px);
    transform: rotate(-45deg);
    display: block;
    width: 20px;
    height: 20px;
    content: "";
    border: 2px solid $gray;
    border-width: 0 0 2px 2px;
  }
}
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* トップ詳細ボタン */
.top-btn {
  text-align: center;
  margin: 2rem auto;
}
.btn-primary {
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  text-decoration: none;
  position: relative;
  color: $gray;
  border: 1px solid #333;
  display: inline-block;
  outline: none;
  transition: all 0.4s ease-in-out;
  &:hover {
    background-color: #610b0b;
    color: $white;
    border-color: transparent;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    border: solid $gray;
    width: 10px;
    height: 10px;
    transition: all 0.4s ease-in-out;
  }
  &::before {
    top: -6px;
    left: -6px;
    border-width: 1px 0 0 1px;
  }
  &::after {
    bottom: -6px;
    right: -6px;
    border-width: 0 1px 1px 0;
  }
  &:hover::before,
  &:hover::after {
    width: calc(100% + 11px);
    height: calc(100% + 11px);
    border-color: #610b0b;
  }
}

/* TOP NEWS  =====================================*/
/* スライドショー */
.slideshow {
  overflow: hidden;
  position: relative;
  max-width: 1000px;
  height: 100%;
  margin: 3rem auto 0;
  & h2 {
    font-size: 2.5rem;
  }
}
.slideshow-slides {
  margin-top: 2rem;
  position: absolute;
  height: 500px;
  width: 100%;
  & .slide {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    & img {
      position: absolute;
      left: 50%;
      width: 50%;
      height: 100%;
      margin-left: -500px;
      object-fit: cover;
    }
  }
}
.slide-text {
  position: absolute;
  top: 10%;
  right: 0;
  width: 50%;
  padding: 2rem;
  box-sizing: border-box;
  color: $black;
  & h3 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
}
.time {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.slide-desc {
  padding-right: 4.5rem;
  font-size: 1.25rem;
}
.slide1 {
  background: #d9a7c7;
  background: linear-gradient(to right, #fffcdc, #d9a7c7);
}
.slide2 {
  background: #ffe259;
  background: linear-gradient(to right, #ffa751, #ffe259);
}
.slide3 {
  background: #b79891;
  background: linear-gradient(to right, #94716b, #b79891);
}
.slide4 {
  background: #ffefba;
  background: linear-gradient(to right, #ffffff, #ffefba);
}
.slide-img1 {
  object-position: 0 0;
}
.slide-img2 {
  object-position: 0 0;
}

/* ナビゲーションスタイル */
.slideshow-nav a,
.slideshow-indicator a {
  overflow: hidden;
}
.slideshow-nav a::before,
.slideshow-indicator a::before {
  content: url("../../dist/images/sprites.png");
  display: inline-block;
  font-size: 0;
  line-height: 0;
}
.slideshow-nav a {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 72px;
  height: 72px;
  margin-top: -36px;
  &.prev {
    margin-left: -480px;
  }
  &.prev::before {
    margin-top: -20px;
  }
  &.next {
    margin-left: 408px;
    &::before {
      margin: {
        left: -80px;
        top: -20px;
      }
    }
  }
  &.disabled {
    display: none;
  }
}

/* インジケーターのスタイル */
.slideshow-indicator {
  position: absolute;
  bottom: 30px;
  height: 16px;
  left: 0;
  right: 0;
  text-align: center;
  & a {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 3px;
    margin-right: 3px;
    &.active {
      cursor: default;
      &::before {
        margin-left: -130px;
      }
    }
    &::before {
      margin-left: -110px;
    }
  }
}

/* トップギャラリー */
.grid {
  height: 100%;
  display: grid;
  width: 86vw;
  gap: 1vw;
  grid-template-columns: repeat(3, 26vw); /* (80 - 2) / 3 */
  grid-template-rows: repeat(3, 26vw);
  margin: 7rem auto;
}
.grid-gallery {
  margin: auto;
  position: relative;
  width: 70%;
  transition: 0.4s;
  transition-timing-function: ease-in-out;
  & img {
    display: block;
    object-fit: cover;
    width: 350px;
    height: 350px;
    &:hover {
      cursor: pointer;
    }
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
    z-index: 10;
    & .top-gallery-text {
      opacity: 1;
    }
  }
}
.opacity {
  position: absolute;
  display: block;
  z-index: 0;
  top: 0;
  width: 350px;
  height: 350px;
  background-color: rgb(0, 0, 0, 0.5);
  opacity: 0;
}
.top-gallery-text {
  position: absolute;
  top: 55%;
  left: 65%;
  margin: auto;
  height: 300px;
  width: 300px;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: $white;
}
.gallery-text-title {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
  opacity: 0;
}
.gallery-text-size {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 6rem;
  margin: 0;
  opacity: 0;
}
.gallery-text-data {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.7rem;
  opacity: 0;
}

.grid-gallery:hover {
  & .gallery-text-title {
    animation: style-top 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  & .gallery-text-size {
    animation: style-top 0.5s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  & .gallery-text-data {
    animation: style-bottom 0.5s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
}

@keyframes style-top {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(50px);
    opacity: 1;
  }
}
@keyframes style-bottom {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(-50px);
    opacity: 1;
  }
}

/* トッププロフィール */

/* トップ 料金 */
.top-price1 {
  display: flex;
  height: 100%;
  width: 70vw;
  margin: 4rem auto;
}
.top-price-content {
  display: flex;
  flex-flow: column;
  line-height: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  & img {
    width: 100%;
    height: 305px;
    object-fit: cover;
  }
}
.top-price-text {
  background-color: $black;
  color: $white;
  margin: 0 auto;
  padding: 3rem 1rem;
  text-align: left;
  width: 91%;
  height: 210px;
  & .text1 {
    text-align: center;
    font-size: 1.2rem;
  }
  & .text2 {
    width: 80%;
    margin: 0 auto;
    padding-top: 1rem;
    line-height: 1.9;
    font-size: 0.9rem;
  }
}
.order1 {
  order: 1;
}
.order2 {
  order: 2;
}
.order3 {
  order: 4;
}
.order4 {
  order: 3;
}
.order5 {
  order: 5;
}
.order6 {
  order: 6;
}

.top-price2 {
  margin: 0 auto;
  padding: 3rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  & img {
    height: 30vh;
    width: 20vw;
    object-fit: cover;
  }
}
.top-price-plan {
  background-color: $white;
  border: 1px solid $lightGray;
  width: 30vw;
  padding: 3rem 1rem;
  text-align: center;
  margin: 0 1rem;
  & h3 {
    margin: 1.5rem auto;
  }
}

/* Profile ================================== */
// Profile共通 //
@mixin profile {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
}
.profile-main {
  margin-bottom: 5rem;
  padding: 4rem 2rem;
  background: #d9a7c7;
  background: linear-gradient(to right, #fffcdc, #d9a7c7);
}
.profile {
  @include profile;
  & img {
    object-fit: cover;
    width: 30vw;
  }
  flex-direction: row-reverse;
}
.profile-text {
  padding: 5rem 3rem 3rem;
  width: 30vw;
  background-color: rgba(255, 255, 255, 0.4);
  & span {
    font-size: 1.25rem;
  }
  & p {
    margin-bottom: 1rem;
  }
}
.profile-title {
  font-size: 2rem;
  margin: 0.5rem 0 3rem;
}

/* メッセージ */
.message {
  @include profile;
  margin-top: 3rem;
  & img {
    object-fit: cover;
    width: 30vw;
  }
}
.message-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.message-text {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 3rem;

  width: 30vw;
  & span {
    font-size: 1.25rem;
  }
  & p {
    margin-bottom: 1rem;
  }
}

/* history */
.history {
  position: relative;
  margin: 5rem auto;
}
.history-title {
  background-color: #0b0b61;
  color: $white;
  padding: 4.5rem 2.5rem;
  position: absolute;
  top: -18rem;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
.history-content {
  margin-left: 5rem;
  padding: 2rem;
  & li {
    line-height: 2;
  }
}
.history-content-title {
  margin-bottom: 2rem;
}

/* GALLERY ================================= */
.gallery-main {
  margin: 4rem auto;
}
.gallery-text {
  text-align: center;
  font-size: 1.3;
  margin-bottom: 2rem;
  line-height: 2.5;
}
.gallery {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}
.gallery-item {
  list-style: none;
  margin-top: 2rem;
  transition: 0.4s;
  transition-timing-function: ease-in-out;
  & a {
    display: block;
  }
  & .caption {
    display: none;
  }
  &:hover {
    transform: scale(1.1, 1.1);
    z-index: 10;
  }
}
.gallery-title {
  display: block;
  text-align: center;
}
.gallery-item .is-loading {
  opacity: 0;
}

/* NEWS ==================================== */
.news {
  text-decoration: none;
  color: $black;
  background-color: $white;
  width: 1000px;
  display: flex;
  padding: 2rem;
  margin: 4rem auto;
  border: 1px solid $lightGray;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.4);
  transition: background-color 0.5s;
  & img {
    object-fit: cover;
    transition: transform 0.5s;
  }
  &:hover {
    background-color: $smorke;
    & img {
      transform: scale(1.1);
    }
  }
}
.news-text {
  margin: 1rem 0 0 2rem;
  & h2 {
    margin-bottom: 1rem;
  }
}
.news-time {
  margin-bottom: 1rem;
  color: $gray;
}

/* PRICE =================================== */
.price-text {
  margin-bottom: 2rem;
}

.price-design-title {
  font-weight: bold;
}
.price-design {
  border: 1px solid $lightGray;
  background-color: $whiteSmoke;
  box-sizing: border-box;
  display: flex;
  padding: 2rem;
  margin-bottom: 4rem;
  & img {
    width: 400px;
    height: 300px;
  }
}
.price-design-text {
  margin-left: 3rem;
  & ul {
    list-style-type: none;
    font-size: 1.2rem;
    line-height: 1.7;
    & li {
      background-color: $gray;
      color: $white;
      margin: 0.5rem 0;
      padding: 0.5rem 1rem;
      border-radius: 30px;
    }
  }
}
.price-design-btn {
  display: inline-block;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  width: auto;
  color: $white;
  background-color: $black;
  margin: 2rem 0 0 2rem;
  text: {
    align: center;
    decoration: none;
  }
}
.price-hosoku {
  margin: 0 auto;
  padding-left: -1rem;
  text-indent: -1rem;
}
.price-table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
  border: 1px solid $lightGray;
  & th {
    background-color: $whiteSmoke;
  }
  & th,
  td {
    width: 35vw;
    padding: 1rem 2rem;
    text-align: center;
    border: 1px solid $lightGray;
  }
  & td:first-child {
    text-align: left;
    background-color: $whiteSmoke;
  }
}
.price-table2 {
  @extend .price-table;
  & td:first-child {
    width: 50%;
  }
}

/* Timeline */
.timeline-item {
  display: flex;
}
.timeline-title {
  font-size: 1.5rem;
  width: 24%;
  padding: 3.5rem 4rem 2rem 0;
  text-align: right;
}
.timeline-content {
  margin: 0;
  width: 76%;
  //padding: 1.5rem 0 1.5rem 4rem;
  position: relative;
  border-left: 5px solid $lightGray;
}
.timeline1 {
  padding: 2.5rem 0 2.5rem 4rem;
}
.timeline2 {
  padding: 1.5rem 0 1.5rem 4rem;
}
.timeline3 {
  padding: 2rem 0 3.5rem 4rem;
}
.timeline4 {
  padding: 2.5rem 0 1.5rem 4rem;
}
.timeline5 {
  padding: 3.5rem 0 3.5rem 4rem;
}
.timeline-content::before {
  display: block;
  position: absolute;
  top: 2.5rem;
  left: -2.5rem;
  width: 3.5rem;
  height: 3.5rem;
  content: "";
  background-color: $whiteSmoke;
  text-align: center;
  /* Font Awesome */
  font: {
    family: "Font Awesome 5 Free";
    size: 1.7rem;
    weight: 900;
  }
  line-height: 1.5;
  color: $black;
  padding: 0.8rem 0.5rem 0 0.5rem;
  border-radius: 10px;
}
.icon-file::before {
  content: "\f044";
}
.icon-meeting::before {
  content: "\f086";
}
.icon-payment::before {
  content: "\f157";
}
.icon-production::before {
  content: "\f1fc";
}
.icon-complete::before {
  content: "\f4df";
}
.price-btn {
  background-color: $red2;
  color: $white;
  margin-top: 3rem;
}

/* CONTACT ================================= */
.contact-text p {
  margin: 0.5rem 0;
}
.small-text {
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

/* Table */
.contact-table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid $lightGray;
  margin-bottom: 2rem;
  & th,
  td {
    display: table-cell;
    padding: 1.3rem;
  }
  & th {
    font-weight: normal;
    width: 24%;
    vertical-align: middle;
  }
  & td {
    width: 76%;
  }
  & tr:nth-child(odd) {
    background: $smorke;
  }
  & tr:nth-child(even) {
    background: $white;
  }
}
.must {
  color: $red;
}

/* FORM */
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  border: 1px solid $lightGray;
  background-color: $white;
  padding: 0.5rem 0 0.5rem 0.5rem;
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
textarea::placeholder {
  color: $lightGray;
}
textarea {
  height: 10rem;
}
#postcode1,
#postcode2 {
  width: 30%;
}
.select-box {
  width: 50%;
  text-align: center;
  padding: 0.5rem;
}
.btn-send {
  color: $white;
  background-color: $red2;
}

/* チェックボックスの非表示 */
input[type="checkbox"] {
  display: none;

  /* チェックボックスを変更 */
  & + span::before {
    display: inline-block;
    content: "";
    width: 2rem;
    height: 2rem;
    border: 1px solid $lightGray;
    background-color: $white;
    vertical-align: middle;
    margin: -0.25rem 0.5rem 0 1.85rem;
    padding: 0 0 0.25rem 0.5rem;
    /* Font Awesome */
    font: {
      family: "Font Awesome 5 Free";
      size: 1.5rem;
      weight: 900;
    }
    line-height: 1.5;
  }
}
input[type="checkbox"]:checked + span::before {
  content: "\f00c";
}

/* POLICY =========================================== */
.policy-text {
  & p {
    margin: 0.5rem 0 3rem;
  }
  & h3 {
    font: {
      size: 1.25rem;
      weight: 900;
    }
    margin: 0;
  }
}

/* FOOTER =========================================== */
footer {
  text-align: center;
  background-color: $black;
  color: $white;
}
.footer-policy {
  margin: 0 auto;
  background-color: $black;
  & a {
    text-align: center;
    display: block;
    padding: 2rem;
    color: $white;
    text-decoration: none;
  }
}

/* .footer-link */
.footer-link {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  & li {
    list-style-type: none;
    & a {
      display: block;
      border-radius: 10%;
      width: 3rem;
      height: 3rem;
      margin: 0;
      padding: 1rem;
      color: $white;
      position: relative;
      & .fab {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        font-size: 2rem;
      }
    }
  }
}

/* ページトップに戻るボタン */
.back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  & a {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    text-decoration: none;
    &::before {
      font: {
        family: "Font Awesome 5 Free";
        weight: 900;
        size: 3rem;
      }
      content: "\f102";
      color: #3f98ef;
      position: absolute;
      width: 25px;
      height: 25px;
      top: -60px;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      text-align: center;
    }
    &::after {
      content: "PAGE TOP";
      font-size: 0.9rem;
      color: $white;
      position: absolute;
      top: 55px;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      text-align: center;
      color: #3f98ef;
    }
  }
}

.footer-nav {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding-bottom: 2rem;
  border-bottom: 1px solid $white;
  & a {
    padding: 1rem 2.5rem;
    display: block;
    text-decoration: none;
    color: $white;
    & span {
      display: block;
      margin-top: 0.25rem;
      color: $gray;
    }
  }
}
.copy {
  margin: 0;
}

/* =============================================================
===========================タブレット版 ============================
  =============================================================== */

@media screen and (max-width: 960px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .page-header-clone,
  .scroll-down-btn,
  .footer-nav,
  .grid {
    display: none;
  }
  /* HEADER ====================================*/
  .page-header {
    z-index: 100;
    & .inner {
      display: block;
      & .header-title {
        padding: 1rem;
      }
      & .open-btn {
        display: inline-block !important;
        position: absolute;
        top: 13px;
        right: 10px;
        background-color: $black;
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        & span {
          display: inline-block;
          transition: all 0.5s;
          position: absolute;
          left: 15px;
          height: 5px;
          border-radius: 2px;
          background-color: $white;
          width: 45%;
          &:nth-of-type(1) {
            top: 15px;
          }
          &:nth-of-type(2) {
            top: 23px;
          }
          &:nth-of-type(3) {
            top: 31px;
          }
        }
        &.active span:nth-of-type(1) {
          top: 18px;
          left: 18px;
          transform: translateY(6px) rotate(-45deg);
          width: 30%;
        }
        &.active span:nth-of-type(2) {
          opacity: 0;
        }
        &.active span:nth-of-type(3) {
          top: 30px;
          left: 18px;
          transform: translateY(-6px) rotate(45deg);
          width: 30%;
        }
      }
      & .page-header-content {
        display: block;
        background-color: $black;
        width: 0;
        z-index: 20;
        position: absolute;
        top: 75.59px;
        right: 0;
        overflow: hidden;
        transition: 0.5s;
        &.open-menu {
          width: 100%;
        }
        & .header-nav {
          display: block;
          padding: 0;
          margin: 0;
        }
        & .header-link {
          margin: 1rem 0;
          padding: 0;
          display: flex;
          justify-content: center;
        }
      }
    }
    &.sticky {
      position: fixed;
      top: 0;
      width: 100%;
      opacity: 0.8;
    }
  }
}
