<!-- Footer -->
<footer>
  <a href="policy.html">プライバシーポリシー</a>
  <div class="wrapper">
    <nav>
      <ul class="footer-nav" id="nav">
        <li>
          <a href="index.html">トップページ<span>top</span></a>
        </li>
        <li>
          <a href="profile.html">プロフィール<span>profile</span></a>
        </li>
        <li>
          <a href="gallery.html">ギャラリー<span>gallery</span></a>
        </li>
        <li>
          <a href="news.html">お知らせ<span>news</span></a>
        </li>
        <li>
          <a href="price.html">料金<span>price</span></a>
        </li>
        <li>
          <a href="contact.html">お問合せ<span>contact</span></a>
        </li>
      </ul>
    </nav>
    <ul class="footer-link">
      <li>
        <a class="twitter" href="#" target="_blank"
          ><i class="fab fa-twitter"></i
        ></a>
      </li>
      <li>
        <a class="instagram" href="#" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
      </li>
      <li>
        <a class="facebook" href="#" target="_blank"
          ><i class="fab fa-facebook"></i
        ></a>
      </li>
    </ul>
    <p>&copy;2022 Kakuta / All Rights Reserved.</p>
    <p>全ての画像•文章の無断転載•コピーなどをお断りします。</p>
  </div>
</footer>
