<% const top = 'top' %> <% const name = '書家 田中彩音'%>
<!DOCTYPE html>
<html class="no-js" lang="ja">
  <%- include('./_partial/head', {meta: config.data.pageMeta[top]}); %>
  <body>
    
  </body>
</html>
