<% const top = 'top' %> <% const name = '書家 田中彩音'%>
<!DOCTYPE html>
<html class="no-js" lang="ja">
  <%- include('./_partial/head', {meta: config.data.pageMeta[top]}); %>
  <body>
    <div class="line"></div>
    <div class="top"></div>
    <div class="bottom"></div>
    <div class="bar"></div>
    <div class="page-top-content">
      <ul class="index-top-slider">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <div class="index-top-text">
        <h1 class="load-down">
          書家 田中彩音 <br />
          公式サイト
        </h1>
        <p class="sub-title load-up">力強く躍動感のある作品をお届けします</p>
        <p class="load-up">
          <%- name
          %>の公式サイトでは、書作品の紹介や個人向け、法人向けにオーダーメイドを行っております。
          <br />
          お客様にご満足いただけるように丁寧に心を込めて制作いたします。 <br />
          詳細につきましては、当サイトを御覧ください。
        </p>
        <div class="page-load">
          <a href="#" class="index-top-btn" address="true"></a>
        </div>
      </div>
    </div>

    <%- include('./_partial/header') %>
    <div class="wrapper">
      <div class="index-news-content">
        <h2>お知らせ</h2>
        <div class="index-news-articles">
          <a href="../../dist/html/news.html" class="index-news-item">
            <img
              src="../../dist/images/img16.jpeg"
              alt=""
              width="200"
              height="200"
            />
            <div class="index-news-text">
              <h3>朝日経済新聞に個展の記事が掲載されました！</h3>
              <p class="time">2020.10.03</p>
              <p class="index-news-desc">
                個展は写真撮影・SNSへの投稿はOKですので、ぜひ楽しんでいただけると嬉しいです。<br />
                お気軽に会場へ起こし下さい。
              </p>
            </div>
          </a>
          <a href="../../dist/html/news.html" class="index-news-item">
            <img
              src="../../dist/images/img18.jpeg"
              alt=""
              width="200"
              height="200"
            />
            <div class="index-news-text">
              <h3>You Tubeアカウントを開設いたしました</h3>
              <p class="time">2020.12.28</p>
              <p class="index-news-desc">
                You Tubeでは、主に書道関連の動画を投稿していきます。
                <br />
                ぜひご覧ください。
              </p>
            </div>
          </a>
          <a href="../../dist/html/news.html" class="index-news-item">
            <img
              src="../../dist/images/img17.jpeg"
              alt=""
              width="200"
              height="200"
            />
            <div class="index-news-text">
              <h3>
                株式会社はねまるうどん様の看板を制作・納品させていただきました。
              </h3>
              <p class="time">2021.04.16</p>
              <p class="index-news-desc">
                看板のタイトル・商品ロゴ制作の詳細は料金項目を御覧ください。<br />
                一つ一つ心を込めて制作いたします。
              </p>
            </div>
          </a>
          <a href="../../dist/html/news.html" class="index-news-item">
            <img
              src="../../dist/images/img7.jpeg"
              alt=""
              width="200"
              height="200"
            />
            <div class="index-news-text">
              <h3>新春書き初め書道パフォーマンスを行いました！</h3>
              <p class="time">2022.01.01</p>
              <p class="index-news-desc">
                東京都で新春書き初め大会が開催されました。
                オープニング書道パフォーマンスの様子です。<br />
                ぜひご覧ください。
              </p>
            </div>
          </a>
        </div>
        <div class="btn-box">
          <a class="index-btn btn" href="../../dist/html/news.html">
            お知らせ一覧
          </a>
        </div>
      </div>
    </div>

    <div class="section-bg scroll-fadeRight">
      <img src="../../dist/images/img11.jpeg" alt="" />
    </div>
    <div class="wrapper">
      <section class="section">
        <div class="section-title index-profile-title scroll-fadeLeft">
          <h2>プロフィール</h2>
          <span>profile</span>
        </div>
        <div class="profile-content">
          <div class="profile">
            <div class="profile-text">
              <div class="scroll-fadeDown">
                <span>書家</span>
                <h2>田中 彩音</h2>
              </div>
              <div class="scroll-fadeRight">
                <p>
                  1996年誕生。東京都世田谷区出身。<br />
                  7歳より書を始める。<br />
                  高校在学中に書道師範免許を取得する。
                </p>
                <p>
                  現在、東京を拠点に活動しており、作品制作、書道パフォーマンス、イベント等多数出演している。
                </p>
                <p>
                  座右の銘や命名書の他、企業理念、オーダーメイド、社訓、サイトロゴ、商品ロゴ、広告タイトルなどを手掛けている。<br />
                  力強く躍動感のある作品を得意とする。
                </p>
                <p>作品にご興味あればぜひお問い合わせください。</p>
              </div>
            </div>
            <img
              class="scroll-fadeLeft"
              src="../../dist/images/profile1.jpeg"
              alt=""
            />
          </div>
        </div>
        <div class="btn-box">
          <a class="index-btn btn" href="../../dist/html/profile.html"
            >プロフィール詳細</a
          >
        </div>
      </section>
    </div>
    <!-- /.wrapper -->
    <div class="section-bg scroll-fadeLeft">
      <img src="../../dist/images/img15.jpeg" alt="" />
    </div>
    <section class="section bg img2">
      <div class="section-title index-gallery-title scroll-fadeRight">
        <h2>ギャラリー</h2>
        <span>gallery</span>
      </div>
      <div class="index-gallery-content">
        <div class="index-gallery-item scroll-fadeUp">
          <img src="../../dist/images/img1-small.jpeg" alt="書道1" />
          <div class="index-gallery-text">
            <p class="index-gallery-text1">書道1</p>
            <p class="index-gallery-text2">24cm ✕ 34cm</p>
            <p class="index-gallery-text3">2021.03.02</p>
          </div>
        </div>
        <div class="index-gallery-item scroll-fadeUp">
          <img src="../../dist/images/img2-small.jpeg" alt="書道2" />
          <div class="index-gallery-text">
            <p class="index-gallery-text1">書道2</p>
            <p class="index-gallery-text2">24cm ✕ 34cm</p>
            <p class="index-gallery-text3">2021.04.12</p>
          </div>
        </div>
        <div class="index-gallery-item scroll-fadeUp">
          <img src="../../dist/images/img3-small.jpeg" alt="書道3" />
          <div class="index-gallery-text">
            <p class="index-gallery-text1">書道3</p>
            <p class="index-gallery-text2">24cm ✕ 34cm</p>
            <p class="index-gallery-text3">2021.6.22</p>
          </div>
        </div>
        <div class="index-gallery-item scroll-fadeUp">
          <img src="../../dist/images/img4-small.jpeg" alt="書道4" />
          <div class="index-gallery-text">
            <p class="index-gallery-text1">書道4</p>
            <p class="index-gallery-text2">24cm ✕ 34cm</p>
            <p class="index-gallery-text3">2021.08.16</p>
          </div>
        </div>
        <div class="index-gallery-item scroll-fadeUp">
          <img src="../../dist/images/img5-small.jpeg" alt="書道5" />
          <div class="index-gallery-text">
            <p class="index-gallery-text1">書道5</p>
            <p class="index-gallery-text2">24cm ✕ 34cm</p>
            <p class="index-gallery-text3">2021.09.12</p>
          </div>
        </div>
        <div class="index-gallery-item scroll-fadeUp">
          <img src="../../dist/images/img6-small.jpeg" alt="書道6" />
          <div class="index-gallery-text">
            <p class="index-gallery-text1">書道6</p>
            <p class="index-gallery-text2">24cm ✕ 34cm</p>
            <p class="index-gallery-text3">2021.12.03</p>
          </div>
        </div>
        <div class="index-gallery-item scroll-fadeUp">
          <img src="../../dist/images/img7-small.jpeg" alt="書道7" />
          <div class="index-gallery-text">
            <p class="index-gallery-text1">書道7</p>
            <p class="index-gallery-text2">24cm ✕ 34cm</p>
            <p class="index-gallery-text3">2022.03.24</p>
          </div>
        </div>
        <div class="index-gallery-item scroll-fadeUp">
          <img src="../../dist/images/img8-small.jpeg" alt="書道8" />
          <div class="index-gallery-text">
            <p class="index-gallery-text1">書道8</p>
            <p class="index-gallery-text2">24cm ✕ 34cm</p>
            <p class="index-gallery-text3">2022.06.11</p>
          </div>
        </div>
        <div class="index-gallery-item scroll-fadeUp">
          <img src="../../dist/images/img9-small.jpeg" alt="書道9" />
          <div class="index-gallery-text">
            <p class="index-gallery-text1">書道9</p>
            <p class="index-gallery-text2">24cm ✕ 34cm</p>
            <p class="index-gallery-text3">2022.08.12</p>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a class="index-btn btn" href="../../dist/html/gallery.html">
          ギャラリーをもっと見る
        </a>
      </div>
    </section>

    <div class="section-bg scroll-fadeRight">
      <img src="../../dist/images/img10.jpeg" alt="" />
    </div>

    <section class="section bg img3">
      <div class="section-title index-job-title scroll-fadeLeft">
        <h2>仕事内容</h2>
        <span>job</span>
      </div>
      <div class="index-job-content scroll-fadeUp">
        <div class="index-job-item">
          <div class="number1">
            <img src="../../dist/images/img1.jpeg" alt="" />
          </div>
          <div class="index-job-text number2">
            <p class="text1">雰囲気やテーマに合わせて</p>
            <p class="text2">
              お客様のご要望に合わせて、デザインやイメージをご提案いたします。
              お好きな色やデザインに合わせてぴったりの表層をご提案いたします。
            </p>
          </div>
        </div>
        <div class="index-job-item">
          <div class="number3">
            <img src="../../dist/images/img14.jpeg" alt="" />
          </div>
          <div class="index-job-text number4">
            <p class="text1">お客様と一緒に</p>
            <p class="text2">
              お打ち合わせから納品に至るまで、ご希望のイメージに添えられるよう丁寧に制作して参ります。
              お客様とたった一つの作品を作り上げて参ります。
            </p>
          </div>
        </div>
        <div class="index-job-item">
          <div class="number5">
            <img src="../../dist/images/img2.jpeg" alt="" />
          </div>
          <div class="index-job-text number6">
            <p class="text1">躍動感のある作品に</p>
            <p class="text2">
              企業理念、商品ロゴ、命名書など、力強い躍動感ある作品に仕上げます。
              予算に合わせたご提案もいたしますので、お気軽にご相談ください。
            </p>
          </div>
        </div>
      </div>

      <div class="index-price-content scroll-fadeUp">
        <div class="index-price-item">
          <img src="../../dist/images/img3.jpeg" alt="" />
          <h3>オーダーメイド作品</h3>
          <p>座右の銘・命名書・企業理念・お好きな文字</p>
        </div>
        <div class="index-price-item">
          <img src="../../dist/images/img4.jpeg" alt="" />
          <h3>筆文字ロゴ</h3>
          <p>
            社名・店名・サイトロゴ・商品ロゴ <br />
            (データでご提供いたします。)
          </p>
        </div>
        <div class="index-price-item">
          <img src="../../dist/images/img5.jpeg" alt="" />
          <h3>出演・書道パフォーマンス</h3>
          <p>
            企業・商業施設・イベントにて、書道パフォーマンスを披露いたします。
          </p>
        </div>
      </div>
      <div class="btn-box">
        <a class="index-btn btn" href="../../dist/html/price.html"
          >詳細はこちら</a
        >
      </div>
    </section>
    <button type="button" class="back-to-top">
      <a href="#"></a>
    </button>
    <%- include('./_partial/footer') %>
  </body>
</html>
